<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ekidungmantram">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EKidungMantram"
        tools:ignore="DataExtractionRules"
        tools:targetApi="s">
        <activity
            android:name=".admin.upacarayadnya.AllProsesiAwalYadnyaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.upacarayadnya.AddProsesiAwalToYadnyaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.upacarayadnya.DetailYadnyaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.upacarayadnya.EditYadnyaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.upacarayadnya.AddYadnyaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.upacarayadnya.SelectedAllYadnyaAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.upacarayadnya.AllYadnyaAdminActivity" />
        <activity
            android:name=".admin.upacarayadnya.AllYadnyaAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.HomeAdminActivity" />
        <activity
            android:name=".admin.prosesiupacara.AddMantramToProsesiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.prosesiupacara.AllMantramOnProsesiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.prosesiupacara.AddTabuhToProsesiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.prosesiupacara.AllTabuhOnProsesiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.prosesiupacara.AddKidungToProsesiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.prosesiupacara.AllKidungOnProsesiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.prosesiupacara.AddTariToProsesiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.prosesiupacara.AllTariOnProsesiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.prosesiupacara.AddGamelanToProsesiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.prosesiupacara.AllGamelanOnProsesiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.prosesiupacara.EditProsesiAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.prosesiupacara.AllProsesiAdminActivity" />
        <activity
            android:name=".admin.prosesiupacara.AddProsesiAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.prosesiupacara.AllProsesiAdminActivity" />
        <activity
            android:name=".admin.prosesiupacara.DetailProsesiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.prosesiupacara.AllProsesiAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.HomeAdminActivity" />
        <activity
            android:name=".admin.tari.AddTabuhToTariAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.tari.AllTabuhOnTariAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.tari.EditTariAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.tari.AllTariAdminActivity" />
        <activity
            android:name=".admin.tari.AddTariAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.tari.AllTariAdminActivity" />
        <activity
            android:name=".admin.tari.DetailTariAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.tari.AllTariAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.HomeAdminActivity" />
        <activity
            android:name=".admin.gamelan.AddTabuhToGamelanAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.gamelan.AllTabuhOnGamelanAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.gamelan.EditGamelanAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.gamelan.AllGamelanAdminActivity" />
        <activity
            android:name=".admin.gamelan.DetailGamelanAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.gamelan.AddGamelanAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.gamelan.AllGamelanAdminActivity" />
        <activity
            android:name=".admin.gamelan.AllGamelanAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.HomeAdminActivity" />
        <activity
            android:name=".admin.kidung.EditLirikKidungAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kidung.AddLirikKidungAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kidung.AllLirikKidungAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kidung.EditKidungAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.kidung.AllKidungAdminActivity" />
        <activity
            android:name=".admin.kidung.DetailKidungAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.kidung.AddKidungAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.kidung.AllKidungAdminActivity" />
        <activity
            android:name=".admin.kidung.AllKidungAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.HomeAdminActivity" />
        <activity
            android:name=".admin.tabuh.EditTabuhAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.tabuh.AllTabuhAdminActivity" />
        <activity
            android:name=".admin.tabuh.AddTabuhAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.tabuh.AllTabuhAdminActivity" />
        <activity
            android:name=".admin.tabuh.DetailTabuhAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.tabuh.AllTabuhAdminActivity" />
        <activity
            android:name=".admin.tabuh.AllTabuhAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.HomeAdminActivity" />
        <activity
            android:name=".admin.adminmanager.EditAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.adminmanager.AllAdminActivity" />
        <activity
            android:name=".admin.adminmanager.DetailAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.adminmanager.AllAdminActivity" />
        <activity
            android:name=".admin.adminmanager.AddAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.adminmanager.AllAdminActivity" />
        <activity
            android:name=".admin.adminmanager.AllAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.HomeAdminActivity" />
        <activity
            android:name=".admin.mantram.EditArtiActivity"
            android:exported="false" />
        <activity
            android:name=".admin.mantram.EditBaitActivity"
            android:exported="false" />
        <activity
            android:name=".admin.mantram.AddArtiActivity"
            android:exported="false" />
        <activity
            android:name=".admin.mantram.AddBaitActivity"
            android:exported="false" />
        <activity
            android:name=".admin.mantram.EditMantramAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.mantram.DetailMantramAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.mantram.AddMantramAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.mantram.AllMantramAdminActivity" />
        <activity
            android:name=".admin.ListYadnyaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.mantram.AllMantramAdminActivity"
            android:exported="false"
            android:parentActivityName=".admin.HomeAdminActivity" />
        <activity
            android:name=".user.DetailMantramActivity"
            android:exported="false" />
        <activity
            android:name=".user.DetailTabuhActivity"
            android:exported="false" />
        <activity
            android:name=".user.DetailKidungActivity"
            android:exported="false" />
        <activity
            android:name=".user.DetailTariActivity"
            android:exported="false" />
        <activity
            android:name=".user.DetailGamelanActivity"
            android:exported="false" />
        <activity
            android:name=".user.AllProsesiActivity"
            android:exported="false"
            android:parentActivityName=".user.MainActivity" />
        <activity
            android:name=".user.AllKidungActivity"
            android:exported="false"
            android:parentActivityName=".user.MainActivity" />
        <activity
            android:name=".user.AllMantramActivity"
            android:exported="false"
            android:parentActivityName=".user.MainActivity" />
        <activity
            android:name=".user.AllGamelanActivity"
            android:exported="false"
            android:parentActivityName=".user.MainActivity" />
        <activity
            android:name=".user.AllTabuhActivity"
            android:exported="false"
            android:parentActivityName=".user.MainActivity" />
        <activity
            android:name=".user.AllTariActivity"
            android:exported="false"
            android:parentActivityName=".user.MainActivity" />
        <activity
            android:name=".admin.HomeAdminActivity"
            android:exported="false" />
        <activity
            android:name=".user.DetailProsesiActivity"
            android:exported="false" />
        <activity
            android:name=".user.DetailYadnyaActivity"
            android:exported="false"
            android:parentActivityName=".user.MainActivity" />
        <activity
            android:name=".user.YadnyaActivity"
            android:exported="false"
            android:parentActivityName=".user.MainActivity" />
        <activity
            android:name=".AboutAppActivity"
            android:exported="false"
            android:parentActivityName=".user.MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>